@import '~antd/es/style/themes/default.less';

#main-layout {
  .ant-layout-header {
    padding: 0;
    position: fixed;
    left: 0;
    z-index: 1;
    width: 100%;
    background-color: @component-background;

    .logo {
      width: 120px;
      height: 31px;
      background: rgba(255, 255, 255, 0.2);
      margin: 16px 24px 16px 0;
      float: left;
      line-height: @line-height-base;
    }
  }

  .site-layout-content {
    margin-top: 74px;
    min-height: 280px;
  }
}
