@import '~antd/es/style/themes/default.less';

.article-detail {

    .content-card {
        width: 100%;
        background-color: #fff;
    }

    .ant-card-grid {
        text-align: center;
        font-size: 12px;
        padding: 24px 0;
        margin: auto;
        box-shadow: none;

        a {
            color: @text-color;
        }
    }
}
