@page "/{username}/{slug}"
@attribute [Microsoft.AspNetCore.Authorization.AllowAnonymous]

<Row>
    <Col Class="home-article-detail">
    <Card Title="" Class="content-card">
        <Body>
            <p>Card content</p>
        </Body>
    </Card>
    </Col>
</Row>


@code{


}