@page "/"
@page "/{channelName}"

<AntList DataSource="@_articleList" ItemLayout="@AntDirectionVHType.Vertical">
    <Item Context="item">
        <AntListItemMeta Description="@item.Summary">
            <Title>
                <a href="/article/@item.Slug">@item.Title</a>
            </Title>
        </AntListItemMeta>
        
    </Item>
    <Footer>
        <div>
            <b>ant design</b> footer part
        </div>
    </Footer>
</AntList>