@page "/write"
@page "/{UserName}/{ArticleSlug}/edit"

<div class="article-editor">
    <Form Model="_article" OnFinish="CreateOrUpdateArticle">
        <FormItem>
            <Input @bind-Value="context.Title" Size="large" Placeholder="标题" />
        </FormItem>
        <FormItem>
            <Vditor.Editor @bind-Value="context.Contnet" Width="100%" MinHeight="500" />
        </FormItem>
        <FormItem WrapperCol="new ColLayoutParam{ Offset = 20, Span = 4 }">
            <Button Type="@ButtonType.Primary" HtmlType="submit">
                提交
            </Button>
        </FormItem>
    </Form>
</div>